﻿@model Core.Entities.Balance

@{
    ViewBag.Title = "Balance";
}

<h2>Your Card Balance</h2>

<div>
    <h4>Balance</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
 
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
 
        <dt>
            @Html.DisplayNameFor(model => model.LastOperationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOperationDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Operations","Operations", new { userSession = ViewBag.TemporaryGuid }) 
</p>
