﻿@model DataArtExcercise.Models.CardRequestViewModel

@{
    ViewBag.Title = "Your ATM managment access";
}

<h2>ATM managment access - Acess </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control cardNumber" } })
                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ok" class="btn btn-default" />
                <input type="button" value="Clear" class="btn btn-default clearCardNumber" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryInputMask")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".clearCardNumber").click(function () {
                $(".cardNumber").val("").trim();
            })

            $(".cardNumber").inputmask({
                mask: "9999-9999-9999-9999",
                placeholder: "xxxx-xxxx-xxxx-xxxx"
            });
        });
    </script>
}

