﻿@model DataArtExcercise.Models.SessionViewModel


@{
    ViewBag.Title = "Operations";
}

<h2>Welcome! -  Select your Operations</h2>
@if (ViewBag.Message != null)
{
    <p class="text-danger message">@ViewBag.Message</p>
}
<div class="form-group" style="padding-bottom:10px;">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Balance", "Home", new { TemporaryGuid = Model.TemporaryGuid })" class="btn btn-default" data-placement="bottom" title="Exit"><i class="fa fa-arrow-left fa-fw"></i> Balance</a>
        <a href="@Url.Action("Withdrawal", "Home", new { TemporaryGuid = Model.TemporaryGuid })" class="btn btn-default" data-placement="bottom" title="Exit"><i class="fa fa-arrow-left fa-fw"></i> Withdrawal</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-default" data-placement="bottom" title="Exit"><i class="fa fa-arrow-left fa-fw"></i> Exit</a>
    </div>
</div>

<div class="form-group" style="padding-top:25px;">

    @if (Model.Operations != null)
    {
        <table class="table table-bordered table-hover">
            <tr>

                <th>
                    CARD NUMBER
                </th>
                <th>
                    DATE
                </th>
                <th>
                    OPERATION TYPE
                </th>
                <th>
                    AMOUNT
                </th>
            </tr>

            @foreach (var item in Model.Operations)
            {
                <tr>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.Card.Number)
                    </td>
                    <td class="col-md-1">
                        @(item.Date.ToString())
                    </td>
                    <td class="col-md-1 center">
                        @Html.DisplayFor(modelItem => item.OperationType1.Name)
                    </td>
                    <td class="col-md-1 center">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p> No operations for this card.</p>
    }

</div>


