﻿@model DataArtExcercise.Models.PinInputViewModel


@{
    ViewBag.Title = "PIN Number";
}

<h2>Your PIN Number</h2>


@using (Html.BeginForm("PinInput","Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.CardNumber)
    <h4>Please input your card's PIN number</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @(Model.CardNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PinNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.PinNumber, new { htmlAttributes = new { @class = "form-control pinNumber", maxlength = 4, size = 4 } })
            @Html.ValidationMessageFor(model => model.PinNumber, "", new { @class = "text-danger" })
            @if(ViewBag.Message != null)
            {
                <p class="text-danger message">@ViewBag.Message</p>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ok" class="btn btn-default" />
            <input type="button" value="Clear" class="btn btn-default clearPinNumber" />
            <a href="@Url.Action("Index", "Home")" class="btn btn-default" data-placement="bottom" title="Exit"><i class="fa fa-arrow-left fa-fw"></i> Exit</a>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".clearPinNumber").click(function () {
                $(".pinNumber").val("").trim();
            })
        });
    </script>
}

