﻿@model DataArtExcercise.Models.WithDrawalViewModel

@{
    ViewBag.Title = "WithDrawal";
}

<h2>WithDrawal</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TemporaryGuid)
    <div class="form-horizontal">
        <h4>Specify the amount to withdraw</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ok" class="btn btn-default" />

                <input type="button" value="Clear" class="btn btn-default .clear" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Operations", "Operations", new { userSession = Model.TemporaryGuid })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
