﻿@model DataArtExcercise.Models.ErrorViewModel

@{
    ViewBag.Title = "ErrorView";
}

<h2>Sorry an Error Ocurred</h2>

<div>
    <h4>What happened?</h4>
    <hr />
 
    <div class="form-group">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Message)
        </div>
        <div class="col-md-2">
            <p>
                @Html.ActionLink("Back to Home Page", "Index")
            </p>
        </div>
    </div>
       
 
</div>

